body{
	!background-color: #002649;
	background-repeat: no-repeat;
	font-family: Helvetica, sans-serif; font-size: 18px; line-height: 24px;
	margin-left:0px;
	width:100%;

}

#heading {
	border:ridge #595959;
	font-size: 1.3em;
	font-family: "Americana";
	z-index: -1;
	!width:100%;
	height:25%;
	text-align: center;
	padding-top:10px;
	margin:3% 5% 0% 5%;
	background-color:#086FA1;
	color: #eee;
	opacity: 0.9;
}

#logo{
	height:30%;
	position:absolute;
	top:1%;
	left:3%;
	z-index: 2;
}


nav{
	text-align:center;
	font-size: 1.1em;
	margin:-1% 5% 0px 5%;
}

nav ul { 				/* MAIN NAV COLOR*/
	z-index: 1;
	background:#002649;	
	width:100%;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0px;
	list-style: none;
	!position: relative;
}
nav ul li{
	display: inline-table;
	padding: 15px 0px 15px 0px;
	width:12%;
	font-family: "Americana";


}
nav a {
	text-decoration: none;
	color:#fff;
	!border-right:solid thin red;
	!padding:10px 15px 10px 15px;
	margin:-4px;
}

.sidebar{
	margin-left:20px;
	margin-top:20px;
	text-align: left;
	float:left;
	border:ridge gray;
	width:17%;
	!background-color: #494949;
	box-shadow: 1px 2px 2px;
	opacity:0.8;
}
.sidebar ul{
	list-style-type: none;
	display:none;
	text-align: left;
	padding:5px;
}
.sidebar a{
	color: #fff;
	text-decoration: none;
	text-align: left;
	font-family: "Americana";
}
.sidebar a:visited{
	color: #fff;
}
.sidebar a:hover{
	color:#002649;
}

.wrapper{
	background-color: #086FA1;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 900px;
	border:ridge #595959;
	margin:-.8% 5% 0px 5%;
	!box-shadow: .8em .8em .8em;
}

.box-header{
	display:none;
	border:solid thin black;
	width:25%;
	margin-right: auto;
	margin-left: auto;
}
.box-header ul{

}
.box-header li{
	display:inline-table;
	font-family: "Americana";
	font-size: 1.3em;
	padding:3px 10px 3px 10px;
}
.box-header a{
	text-decoration: none;
	color: #fff;
}
.box-header a:hover{
	color:#002649;
}

#box {
	width:55%;
	height:600px;
	border:ridge #393939;
	!box-shadow: 2px 2px 2px black;
	color:black	;
	background-color: #fff;
	font-family:'Americana';
	text-align: center;
	float:right;
	margin-right:5%;
	margin-top:20px;
	padding:20px 50px 20px 50px;
	opacity:0.8;


}
#box p{
	display:none;
	font: 'Americana';
}

#footer {
	height:10%;
	background-color:#086FA1; 
	color: #eee;
	text-align: right;
	font-size: 0.6em;
	padding: 15px;
	position: fixed;
	bottom:0px;
	left:0px;
	right:0px;

}
.doc {
	font-family: "Americana";
	color:white;
}
.doc img{
	height: 250px;
}
.doc p {
	color:white;
}





	
